.slider {
  max-width: 1000px;
  max-height: 500px;
  height: 100%;
  width: 100%;
  overflow: scroll;
  scroll-snap-type: y mandatory;
  box-shadow: grey 0 0 10px;
}

.slider img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  scroll-snap-align: center;
}
